<div class="container" style="margin-top :10%">
  <section id="content">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()" role="form">
      <h1>Login Form</h1>
      <div>
        <input type="text" formControlName="email" placeholder="Email" required="" id="username" />
        <div style="text-align: left;"
          *ngIf="loginForm.controls['email'].errors && (throwErrors || (loginForm.controls['email'].dirty || loginForm.controls['email'].touched))">
          <span class="redError" *ngIf="loginForm.controls['email'].errors.required">
            *Email is required.
          </span>
          <span class="redError" *ngIf="loginForm.controls['email'].errors.pattern">
            *Email is invalid.
          </span>
        </div>
      </div>
      <div>
        <input type="password" formControlName="password" placeholder="Password" id="password" />
        <div style="text-align: left;"
          *ngIf="loginForm.controls['password'].errors && (throwErrors || (loginForm.controls['password'].dirty || loginForm.controls['password'].touched))">
          <span class="redError" *ngIf="loginForm.controls['password'].errors.required">
            *Password is required.
          </span>
        </div>
      </div>
      <div>
        <input type="submit" value="Log in" />
        <a href="#">Lost your password?</a>
        <a routerLink="/register">Register</a>
      </div>
    </form><!-- form -->

  </section><!-- content -->
</div>